<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/img/ez-logo.png">
   <meta name="google-site-verification" content="H1WNuep8lppzrR__qa6VfSZwBe6ufoqmpWLTX_qYOU8" />
</head>
<body class="bg-indigo-50 text-gray-700">
    {% include "header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  
</body>
</html>