@import "tailwindcss";

@theme {
    --font-sans: "Lato", sans-serif;
    --font-display: "Sansation", sans-serif;
    --font-body: "Lato", sans-serif;
}

h1, h2 {
    font-family: "Sansation", sans-serif;
}

body, button {
    font-family: "Lato", sans-serif;
}

:root {
	--chat--color-primary: #7e21ff;
    --chat--toggle--background: var(--chat--color-primary);
}
.chat-window-toggle{
    background-color: var(--chat--color-primary);
}

.accordion details summary .plus-icon {
  transition: transform 0.3s ease;
}

.accordion details[open] summary .plus-icon {
  transform: rotate(45deg);
}
