@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Raleway", "sans-serif"; /* Overrides Tailwind's default sans-serif */
    --font-display: "Raleway", "sans-serif"; /* Optional: if you want a specific 'display' utility */
    --font-body: "Raleway", "sans-serif";   /* Optional: if you want a specific 'body' utility */
}

:root {
	--chat--color-primary: #7e21ff;
    --chat--toggle--background: var(--chat--color-primary);
}
.chat-window-toggle{
    background-color: var(--chat--color-primary);
}
