@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Prompt", "sans-serif"; /* Overrides Tailwind's default sans-serif */
    --font-display: "Prompt", "sans-serif"; /* Optional: if you want a specific 'display' utility */
    --font-body: "Prompt", "sans-serif";   /* Optional: if you want a specific 'body' utility */
}

:root {
	--chat--color-primary: #7e21ff;
    --chat--toggle--background: var(--chat--color-primary);
}
.chat-window-toggle{
    background-color: var(--chat--color-primary);
}
